**Â© 2023 Scott Bruce**

# Sample Jupyter notebook 

This is a test Jupyter notebook to verify that your Jupyter notebook environment can access the Postgres database environment properly.  Run the entire notebook by selecting `Kernel` in the menu above and selecting `Restart & Run All`.  If your connection is successful, the `engine.execute("SELECT * FROM customers LIMIT 2;").fetchall()` should return the first two rows in the customers table like this (if you install sqlalchemy 1.4 on your container, use engine.execute(). if you are using higher version (2.0), use engine.connect():

`[(1, None, 'Arlena', 'Riveles', None, 'ariveles0@stumbleupon.com', 'F', '98.36.172.246', None, None, None, None, None, None, None, datetime.datetime(2017, 4, 23, 0, 0)),
 (2, 'Dr', 'Ode', 'Stovin', None, 'ostovin1@npr.org', 'M', '16.97.59.186', '314-534-4361', '2573 Fordem Parkway', 'Saint Louis', 'MO', '63116', 38.5814, -90.2625, datetime.datetime(2014, 10, 2, 0, 0))]`

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
from sqlalchemy import create_engine,text
import pandas as pd

In [4]:
%matplotlib inline

In [5]:
cnxn_string = ("postgresql+psycopg2://{username}:{pswd}"
              "@{host}:{port}/{database}")
print(cnxn_string)

postgresql+psycopg2://{username}:{pswd}@{host}:{port}/{database}

In [6]:
engine = create_engine(cnxn_string.format(
    username="postgres",
    pswd="stat1234",
    host="postgres",
    port=5432,
    database="sqlda"))

In [7]:
with engine.connect() as conn:
    result=conn.execute(text("select * from customers limit 2"))
    result.fetchall()

[(1, None, 'Arlena', 'Riveles', None, 'ariveles0@stumbleupon.com', 'F', '98.36.172.246', None, None, None, None, None, None, None, datetime.datetime(2017, 4, 23, 0, 0)),
 (2, 'Dr', 'Ode', 'Stovin', None, 'ostovin1@npr.org', 'M', '16.97.59.186', '314-534-4361', '2573 Fordem Parkway', 'Saint Louis', 'MO', '63116', 38.5814, -90.2625, datetime.datetime(2014, 10, 2, 0, 0))]